.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  justify-items: center;
  width: 50px;
  height: 50px;
}
.btn {
  padding: 80px;
  justify-items: center;
  border-radius: 25px;
}
.dashboard {
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid black;
}
.dashboard .player0 {
  padding: 10px;
  color: red;
  font-size: larger;
}
.dashboard .player1 {
  padding: 10px;
  color: blue;
  font-size: larger;
}
