.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  justify-items: center;
  width: 50px;
  height: 50px;
}
.btn {
  padding: 50px;
  border-radius: 25px;
}
.players {
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  border: 1px solid black;
}
